<div class="container-fluid mainContainer">
    <div class="row">
        <div class="col-sm-8">
            <h2>Preferences</h2>
            <div *ngFor="let item of mockData">
                <app-item-card [item] = item (selectedItemEvent)="addItToTheCart($event)"></app-item-card>
            </div>    
            <h3>Items</h3>
            <div *ngFor="let item of mockData">
                <app-item-card [item] = item (selectedItemEvent)="addItToTheCart($event)"></app-item-card>
            </div>
        </div>
        <div class="col-sm-4">
            <app-detail-card header="My Cart" [cartItems]="itemDataList"></app-detail-card>
        </div>        
    </div>

</div>
